body {
    background-color: #fce4ec; 
}

h2 {
    color: #EE6E73; 
}

#comprarMais{
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #DF696E;
}