h3{
    color: white;
}

body {
    background-color: #fce4ec; /* Cor de fundo rosa claro */
}

.card {
    width: 30vw;
    margin: 50px auto;
    text-align: center;
    background-color: #FFA5AA; /* Cor do card rosa claro */
    padding: 20px;
    border-radius: 10px;
}

.card-content {
    padding-top: 20px;
}

.container .card form label{
    color: #5f988c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9rem;
}

.container .card form .btn {
    background-color: #DF696E; /* Cor do botão rosa mais escuro */
    margin-bottom: 15px;
}

.container .card form .btn:hover {
    background-color: #D6656B; /* Cor do botão rosa mais escura ao passar o mouse */
}

.card .redirect {
    box-shadow: 1px 2px 6px #0000007d !important;
    margin: auto;
    display: inline-block;
    border: none;
    border-radius: 3px;
    line-height: 36px;
    padding: 0 15px;
    color: white;
    text-align: center;
    background-color: #DF696E;
    text-transform: uppercase;
}
