body {
    background-color: #fce4ec; /* Cor de fundo rosa claro */
}

h3 {
    color: #EE6E73; /* Cor do título rosa mais escuro */
}

hr {
    border-color: #DF696E; /* Cor da linha separadora rosa mais escuro */
}

.card {
    background-color: #FFA5AA; /* Cor do card rosa claro */
    color: black; /* Cor do texto rosa mais escuro */
}

.card-action a.btn {
    background-color: #DF696E; /* Cor do botão rosa mais escuro */
}

.card-action a.btn:hover {
    background-color: #D6656B; /* Cor do botão rosa mais escura ao passar o mouse */
}

.preco {
    font-size: 20px;
    color: #D6656B;
}